# Diretórios do Maven
target/
!src/main/resources/static/

# Diretórios do Gradle
.gradle/
build/

# Configurações do IntelliJ IDEA
*.iml
.idea/

# Configurações do Eclipse
.project
.classpath
.settings/

# Arquivos de Log
*.log

# Arquivos de ambiente
.env


# Dependências do sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*.swp
*.swo

# Credenciais e configurações locais
application.yml
